# Caddy reverse proxy for local LAN HTTPS
# Uses the same cert Tailscale generated for lab.tailf2af36.ts.net

{
    admin off
    # No auto HTTPS - we provide our own cert
    auto_https off
}

lab.tailf2af36.ts.net:443 {
    tls /certs/lab.tailf2af36.ts.net.crt /certs/lab.tailf2af36.ts.net.key

    reverse_proxy http://vaultwarden:80 {
        header_up Host {http.request.host}
        header_up X-Real-IP {http.request.remote.host}
        header_up X-Forwarded-For {http.request.remote.host}
        header_up X-Forwarded-Proto https
    }

    # WebSocket support for Vaultwarden live sync
    @websocket {
        header Connection *Upgrade*
        header Upgrade websocket
    }
    reverse_proxy @websocket http://vaultwarden:80 {
        header_up Host {http.request.host}
        header_up Upgrade {http.request.header.Upgrade}
        header_up Connection {http.request.header.Connection}
    }
}

dockge.lab:80 {
    reverse_proxy http://dockge:5001
}

cockpit.lab:443 {
    tls /certs/lab.tailf2af36.ts.net.crt /certs/lab.tailf2af36.ts.net.key

    reverse_proxy http://192.168.0.206:9090
}